*, :after, :before {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

header.header {
  background-color: #000051;
  color: #ff1400;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 25px;
  .brand {
    .menu {
      display: none;
      svg {
        color: #ff1400;
        height: 2.5em;
        width: 2.5em;
      }
    }
    .brand-logo {
      font-size: 20px;
      font-weight: bold;
    }
  }
  a {
    padding: 10px;
    color: #ff1400;
    outline: none;
    text-decoration: none
  }
  nav {
    flex: 1;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      li {
        margin: 0 5px;
        a {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}

.home {
  background-color: #000051;
  color: #ff1400;
  height: calc(100vh - 70px);
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  > div {
    flex: 1 1 50%;
  }
  .information {
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
      font-size: 32px;
      font-weight: 700;
    }
    .subtitle {
      font-size: 22px;
      font-weight: 500;
    }
    .description {
      font-size: 18px;
      font-weight: 500;
    }
    .container-social {
      display: flex;
      .hireme {
        background-color: #ff1400;
        color: white;
        font-size: 18px;
        border-radius: 40px;
        padding: 10px;
        border: none;
        font-weight: 500;
        margin: 0 10px;
        outline: none;
      }
      .container-icons {
        display: flex;
        a {
          background-color: #ffffff;
          border-radius: 20px;
          padding: 6px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 2px;
        }
        .ic {
          height: 28px;
          width: 28px;
          background-repeat: no-repeat;
          display: block;
          &-fc {
            background-image: url("/images/icons/ic_facebook.svg");
          }
          &-in {
            background-image: url("/images/icons/ic_instagram.svg");
          }
          &-tw {
            background-image: url("/images/icons/ic_twitter.svg");
          }
          &-ln {
            background-image: url("/images/icons/ic_linkedin.svg");
          }
        }
      }
    }
  }
  .multimedia {
    display: flex;
    align-items: center;
    flex-direction: column;
    .profile {
      border-radius: 50%;
      overflow: hidden;
      img {
        max-height: 280px;
      }
    }
  }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .home {
    flex-direction: column;
  }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  header.header {
    flex-direction: column;
    height: auto;
    padding-bottom: 15px;
    .brand {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .menu {
        display: block;
      }
    }
    nav {
      ul {
        flex-direction: column;
        li {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }
}